/* You need to create the rest of styles for the layout shown */

body {
    max-width: 80%;
    margin: 0 auto;
}

.options {
    flex-basis: 24%;
    margin: 0 2rem;
    border: 1px dashed rgba(103, 128, 159, 1);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
    background: rgba(103, 128, 159, .5)
}

.choices {
    display: flex;
}

.choices__metals,
.choices__sizes,
.choices__styles {
    max-width: 25%;
}

.choices__types {
    padding: 2em 0 0 2em;
}

.customOrders {
    margin-left: 2em;
}

.types {
    display: flex;
    margin-bottom: 2rem;
}

.type {
    font-size: 1rem;
    font-weight: 600;
    margin-right: 1rem;
}
